/* ------------------------------
  btn.scss button
------------------------------ */

@mixin btn() {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: $br-normal;
  background: $primary;
  color: $white;
  font-weight: $bold;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  @include btn;
}


