/* ------------------------------
  footer.scss PC
------------------------------ */


.footer {
  position: sticky;
  top: 100vh;
  background: $primary-bg;

  &__inner {
    padding: 2rem;
    text-align: center;
  }
}

@media (max-width: 652px) {
  /* ------------------------------
  footer.scss SP
------------------------------ */

}

