/* ------------------------------
  footer.scss PC
------------------------------ */


.footer {
  margin: 0 -1rem;
  background: $primary-bg;

  &__inner {
    padding: 2rem;
    text-align: center;
  }
}

@media (max-width: 652px) {
  /* ------------------------------
  footer.scss SP
------------------------------ */
 
}

