/* ------------------------------
  ly.scss PC
------------------------------ */

.ly-main {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.ly-section {
  visibility: hidden;
  padding: 2rem;
  transform: translateY(20vh);
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  opacity: 0;
  background: $primary-bg;
  will-change: opacity, visibility;

  &--tab {
    padding: 2rem 0 0;
    border-radius: 0;
    background: none;
  }

  &:not(:last-of-type) {
    margin-bottom: 4rem;
  }
}

.inView {
  visibility: visible;
  transform: none;
  opacity: 1;
}

.ly-tab {
  margin-top: 1rem;

  &__label {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &__label-item {
    overflow: hidden;
    border-top: 2px solid $primary-bg;
    border-bottom: 2px solid $black;

    &:first-of-type {
      border-left: 2px solid $primary-bg;
      border-top-left-radius: $br-normal;
    }

    &:last-of-type {
      border-right: 2px solid $primary-bg;
      border-top-right-radius: $br-normal;
    }

    &:nth-child(even) {
      border-right: 2px solid $primary-bg;
      border-left: 2px solid $primary-bg;
    }
  }

  &__button {
    width: 100%;
    padding: 1rem 2rem;
    transition: $trans;
    background: $black; //$primary-bg;
    color: $white; //$gray;

    &:hover {
      background: $primary;
      color: $black;
    }

    .is-current & {
      background: $primary;
      color: $black;

      &:hover {
        pointer-events: none;
      }
    }

  }

  &__content {
    display: flex;
    align-items: center;
    min-height: 400px;
    padding: 2rem;
    border-radius: 0 $br-normal $br-normal;
    background: $primary-bg;

    li {
      list-style: disc;
      list-style-position: inside;
     }
  }

  &__content-item {
    display: none;

    &.is-shown {
      display: block;
    }
  }
}



.ly-column-box {
  display: flex;
  gap: 50px;

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);

    p {
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }

    &:has(.ly-column-box__image--avatar) {
      justify-content: center;
    }
  }

  &__image {
    margin: 0 auto;

    img {
      border-radius: $br-normal;
    }

    &--avatar {
      width: 50%;
    }
  }
}




@media (max-width: 652px) {
  /* ------------------------------
  ly.scss SP
------------------------------ */

  .ly-main {
    max-width: none;
  }

  .ly-section {
    padding: 1rem;

    &--tab {
      padding: 1rem 0 0;
    }

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  .ly-tab {
    &__label {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-top: 2px solid $primary-bg;
      border-right: 2px solid $primary-bg;
      border-left: 2px solid $primary-bg;
      border-radius: $br-normal-sp $br-normal-sp 0 0;
    }

    &__label-item {
      border-top: 0;

      &:first-of-type {
        border-left: 0;
        border-top-left-radius: 0;
      }

      &:last-of-type {
        border-right: 0;
        border-top-right-radius: 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $black;
      }

      &:nth-child(even) {
        border-right: 0;
        border-left: 0;
      }
    }

    &__content {
      align-items: normal;
      min-height: unset;
      padding: 2rem 1rem;
      border-radius: 0 0 $br-normal-sp $br-normal-sp;
    }
  }

  .ly-column-box {
    flex-direction: column;
    gap: 30px;

    &__item {
      width: 100%;
      &:has(.ly-column-box__image) {
        align-self: center;
      }
    }
  }
}

