
$primary: #bb86fc;
$primary-dark: #3700b3;
$primary-bg: #bb86fc14;
$black: #121212;
$gray: #8b8b8b;
$white: #fff;

$bold: 700;
$normal: 500;

$br-normal: 15px;
$br-normal-sp: 7px;
$font-base: 16px;
$font-btn: 18px;
$font-base-sp: 14px;
$font-big: 32px;
$font-big-sp: 24px;
$font-hero: 64px;
$font-hero-sp: 32px;

$trans: 0.3s;


